html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #474448;
}

h1 {
    all: unset;
    font-size: 2rem;
}

h2 {
    all: unset;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    all: unset;
    font-size: 1rem;
}

li {
    font-size: 1rem;
}

ul {
    margin-top: 0px;
    margin-bottom: 10px;
}

a {
    all: unset;
    font-size: 1rem;
}

.header-app, .navbar-app, .notification-off, .body-app {
    display: none;
}

.navbar-website {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #ecce8e;
    border-bottom: 2px solid black;
}

.navbar-website section {
    margin-right: 50px;
}

.navbar-website a {
    padding: 20px;
    margin-right: 10px;
    border: 2px solid #a6951f;
    border-radius: 5px;
}

.navbar-website a:hover {
    text-decoration: underline;
    background-color: #a6951f;
}

.logo-container {
    height: 100%;
    width: 33vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    height: 85%;
    width: 85%;
    object-fit: contain;
}

.header-website {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/collage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid black;
}

.header-website div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ecce8eee;
    border-radius: 10px;
    padding: 25px;
}

.header-website h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.header-website p {
    font-size: 1.25rem;
}

.user-manual, .process, .introductions {
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
}

.user-manual h2, .process h2, .introductions h2 {
    color: #ecce8e;
    font-weight: bold;
    padding: 50px 0px 20px 0px;
}

.manual-steps-container, .manual-steps-container-2, .introductions-container {
    width: 90vw;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.manual-steps, .introductions-sections {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ecce8e;
    border-radius: 10px;
}
.manual-steps-2 {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ecce8e;
    border-radius: 10px;
}

.manual-image-container, .introductions-image-container {
    margin-top: 20px;
    width: 90%;
    height: 40vh;
    background-color: #000000;
    border-radius: 10px;
}

.manual-image-container img, .introductions-image-container img, .process-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.manual-steps h3, .manual-steps-2 h3, .introductions-sections h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.margin-change {
    margin-bottom: 10px;
}

.manual-steps p, .manual-steps-2 p, .margin-change, .introductions-sections p {
    margin-bottom: 20px;
    width: 90%;
}

.process-steps {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.process-steps-container {
    height: 50vh;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.process-text {
    flex: 1.5;
    display: flex;
    flex-direction: row;
    background-color: #ecce8e;
    border-radius: 10px;
}

.process-text section {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.process-text section h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.process-text section p {
    font-size: 1.25rem;
}

.process-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecce8e;
    border-radius: 10px;
}

.process-image-container {
    width: 90%;
    height: 90%;
    background-color: #000000;
    border-radius: 10px;
}

footer {
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ecce8e;
}

footer section {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 20px;
}

footer p {
    font-size: 0.75rem;
    margin-right: 20px;
}

footer a {
    margin-right: 50px;
    padding: 20px;
    border: 2px solid #a6951f;
    border-radius: 5px;
}

footer a:hover {
    text-decoration: underline;
    background-color: #a6951f;
}

@media (max-width: 1080px) {
    .header-app {
        width: 100vw;
        height: 12.5vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ecce8e;
    }
    
    .header-app h1 {
        font-size: 1.5rem;
    }

    .header-app h2 {
        font-size: 1.25rem;
        font-style: italic;
    }

    .profile-picture {
        flex: 1;
        max-width: 64px;
        height: 64px;
        margin: 10px;
        background-color: #000000;
        border-radius: 100%;
    }

    .profile-data {
        flex: 2;
        display: flex;
        justify-content: space-around;
    }

    .profile-name {
        display: flex;
        flex-direction: column;
    }

    .profile-items {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    .navbar-app {
        width: 100vw;
        height: 12.5vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background-color: #ecce8e;
        position: fixed;
        bottom: 0;
    }

    .notification-off {
        display: none;
    }
    
    .navbar-app a {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        margin: 10px;
        color: #ecce8e;
        font-size: 2.5rem;
        background-color: #474448;
        border: 2px solid #474448;
        border-radius: 15px;
    }
    
    .navbar-app #add {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        margin-left: 10px;
        margin-right: 50px;
        color: #ecce8e;
        font-size: 2.5rem;
        background-color: #474448;
        border: 2px solid #474448;
        border-radius: 15px;
    }
    
    #notification {
        transition: all 0.4s ease;
    }
    
    .notification-on {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 15vh;
    }
    
    .notification {
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 20px;
        background-color: #ffffff;
    }
    .notification-image {
        flex: 1;
        max-width: 64px;
        height: 64px;
        background-color: #000000;
        border-radius: 100%;
    }
    
    .notification-text {
        flex: 2;
        display: flex;
        flex-direction: column;
    }
    
    .notification-text h2 {
        font-weight: bold;
        font-size: 1.25rem;
    }
    
    .notification p {
        font-size: 1rem;
    }
    
    .notification-counter {
        flex: 1;
        max-width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        background-color: #f71643;
        border-radius: 100%;
    }

    .body-app {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .body-app form {
        flex: 1;
    }

    .body-app form input {
        all: unset;
        padding: 5px 20px 5px 20px;
        border: 2px solid #ecce8e;
        color: #ecce8e;
    }

    .body-app-content {
        flex: 2;
        width: 100%;
        padding: 20px 0px 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .body-app-content h2 {
        color: #ecce8e;
    }

    .rooms-sections {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .app-content-rooms {
        flex: 1;
        width: 80vw;
        display: flex;
        flex-direction: row;
        background-color: #ecce8e;
        border: 2px solid #ecce8e;
        border-radius: 12px;
        padding: 10px 20px 10px 20px;
    }

    .rooms-image {
        width: 64px;
        height: 64px;
        background-color: #000000;
        border-radius: 8px;
    }

    .app-content-rooms .rooms-text {
        flex: 2;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .app-content-rooms .rooms-text p {
        font-size: 2rem;
    }

    .navbar-website, .header-website, .body-website, footer {
        display: none;
    }
}